@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Londrina+Outline&family=Rampart+One&family=Sora:wght@100..800&family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Space Grotesk",sans-serif;
  background-color: #000000;
  scroll-behavior: smooth;
}
h4 > span{
    color: rgb(255, 0, 0);
    font-weight: 600;
}
.navbar{
  background: rgba(255, 255, 255, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(194, 119, 119, 0.1);
backdrop-filter: blur(5.2px);
-webkit-backdrop-filter: blur(5.2px);
z-index: 999;
}
.greenshadow{
  box-shadow: 0px 0px 30px 5px rgba(0,255,77,0.5);
}
.hovergreen:hover{
  transform: scale(1.05);
  box-shadow: 0px 0px 30px 5px rgba(0,255,77,0.6);
}
.dropdown-menu-hide{
  
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  z-index: 100;
  display: none;
  height: 0px;
}
.dropdown-menu-show{
  position: absolute;
  top: 100px;
  box-shadow: 0px 0px 5px rgba(225, 82, 82, 0.1);
  display: block;
  animation: mininav 2s linear infinite ;
}
@keyframes mininav {
  0%{
    height: 0%;
  }
  100%{
    height: 100%;
  }
}
.about{
  top: 14%;
  right: 1.3%;
  animation: spin 0.2S linear;
}
.skills{
  top: 19%;
  right: 1.3%;
  animation: spin 0.2S linear;
}
.projects{
  top: 24%;
  right: 1.3%;
  animation: spin 0.2S linear;
}
.education{
  top: 29%;
  right: 1.3%;
  animation: spin 0.2S linear;
  animation-delay: 0.2s;
}
.boxbg{
  background-color: rgba(32, 46, 71, 0.83);
  border:2px solid rgba(63, 82, 114, 0.83);
  box-shadow: 0px 0px 33px 0px rgba(98,0,255,0.26);
}

@keyframes spin {
  0% {
    top: 8%;
  }
  100%{
  }
}
.borderr{
  border-radius:  40% 60% 27% 73% / 70% 30% 70% 30%   ;
  animation: rotate 0.2S linear infinite;
  animation-duration: 8s;
  
}

@keyframes rotate {
  0%{
    border-radius: 49% 51% 35% 65% / 55% 39% 61% 45% ;
  }
  15%{
    border-radius: 51% 49% 39% 61% / 49% 51% 61% 49%  ;
  }
  30%{
    border-radius: 61% 39% 51% 49% / 42% 49% 51% 58%  ;
  }
  45%{
    border-radius: 66% 34% 54% 46% / 38% 54% 54% 62%  ;
  }
  60%{
    border-radius: 72% 28% 63% 37% / 31% 58% 42% 69% ;
  }
  70%{
    border-radius: 79% 28% 80% 20% / 22% 84% 16% 78% ;
  }
  90%{
    border-radius: 79% 28% 80% 20% / 22% 84% 16% 78% ;
  }
  95%{
    border-radius: 85% 15% 89% 11% / 9% 84% 16% 91%  ;
  }
  100%{
    border-radius: 49% 51% 35% 65% / 55% 39% 61% 45% ;
  }
  
}

/* .baseline::after{
  content: '';
  position: absolute;
  width: 5px;
  height: 89.9%;
  background: white;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: 1;
  animation: movebaseline 4s linear forwards;
  box-shadow: 0px 0px 30px 5px rgba(0,255,77,0.4);
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
} */
.image{
  filter: drop-shadow(1px 1px  1px  #75e064);
}


@keyframes movebaseline {
  0%{
    height: 0%;
  }
  100%{
    height: 93.2%;
  }
}

.boxdown{
  opacity: 0;
  animation: boxmovedown 1s linear forwards;
  transition: all 5s linear forwards;
  transition-duration: 1s;
}
.hovereffect{
  transition: all linear forwards;
  
  transition-duration: 1s;
}
.hovereffect:hover{
  transform: translatey(-20px);
  box-shadow: 0px 0px 30px 5px rgba(165, 48, 219, 0.5);
}

.bounce{ 
  display: flex;
  padding: 5px 12px 5px 10px;
  background: #000;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 120px;
  border: 1px solid;
  animation: bounce 2.5s ease-in-out infinite;
}


.bounce:nth-child(1){
  animation-delay: 500ms;
}
.bounce:nth-child(2){
  animation-delay: 1s;
}
.bounce:nth-child(3){
  animation-delay: 2.5s;
}
.bounce:nth-child(4){
  animation-delay: 600ms;
}
.bounce:nth-child(5){
  animation-delay: 2s;
}
.bounce:nth-child(6){
  animation-delay: 1.5s;
}
.bounce:nth-child(7){
  animation-delay: 3s;
}



@keyframes bounce{
  0%, 100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-5px);
  }
}

.boxdown:nth-child(1){
  animation-delay: .5s;
  animation-timeline: view;
}
.boxdown:nth-child(2){
  animation-delay: 1.5s;
  animation-timeline: view;
}
.boxdown:nth-child(3){
  animation-delay: 2.5s;
  animation-timeline: view;
}
.boxdown:nth-child(4){
  animation-delay: 3.6s;
  animation-timeline: view;
}

@keyframes boxmovedown {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
    transform: translateY(30px);
  }
}
.leftby{
  left: 52%;
  transform: translateX(-100%);
}

.leftarrow{
  height: 0;
  width: 0;
  position:none;
  top: 10%;
  z-index: 1;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
  border-left: 22px solid white;
  /* border-right: 22px solid white; */
  right: -7%;
  rotate: 180deg;
  display: none;
}
.rightarrow{
  display: none;
  height: 0;
  width: 0;
  position: absolute;
  top: 10%;
  z-index: 1;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
  border-left: 22px solid white;
  /* border-right: 22px solid white; */
  left:-25px;
}
.width{
  width: 350px;
  height: 300px;
}
.fullwidth{
  width: 100%;
}

.rightby{
  left: 3.4%;
  /* transform: translateY(100%); */
}
.baseline{
  /* width: 1000px; */
  margin: auto;
}

@media (min-width:235px) {
  
}

@media screen and (max-width:735px) {

  .baseline::after{
    left: -20px;
    margin-left: 15px;
  }
  .boxdown{
    /* width: 95%; */
    /* margin-left: 10px;
    left: 10px; */
  }
  .leftarrow{
    left: -25px;
    rotate: 180deg;
    transform: rotate(180deg);
  }
  .rightarrow{
    left: -21px;
  }
}

.lefth{
  left: 200px;
}
.width1800{
  width: 2500px;
}
.width900{
  overflow-x: scroll;
  width: 900px;
}

.projectwidth{
  width: 500px;
}

.description{
  text-overflow: ellipsis;
  overflow: hidden;
}

.project-animation{
  animation: project-animation 2s linear infinite;
  animation-timeline: view();
}


@keyframes project-animation {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}

.textshadow{
  /* text-shadow: 0 0 1x #fff, 0 0 2px #fff, 0 0 3px #7fe565, 0 0 4px #7fe565, 0 0 50px #7fe565, 0 0 6px #7fe565, 0 0 7px #7fe565; */
}

.project-scrollbar::-webkit-scrollbar{
  width: 2px;
  height: 5px;
  color: #75e064;
  background-color: transparent;
  border-radius: 100px;
  padding: 5px;
}
.project-scrollbar::-webkit-scrollbar-thumb{
  background-color: #75e064;
  border-radius: 5px;
  margin: 5px;
  /* height: 100px; */
  width: 10px;
}
.project-scrollbar::-webkit-scrollbar-track{
  background-color: transparent;
  border-radius: 50px;
  border: none;
}
.text{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
}

.title{
    animation: titleanimation linear;
    opacity: 1  ;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;

}
@keyframes titleanimation {
  0%{
    opacity: 0;
    transform: translateY(100px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

#education{
  height: 1250px;
  background: #000;
}
.edu-line::after{
  content: '';
  opacity: 1;
  position: absolute;
  width: 5px;
  height: 75%;
  background: #ffffff;
  left: 50%;
  box-shadow: 0px 0px 30px 5px rgba(0,255,77,0.4);
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  animation: eduline linear ;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

@keyframes eduline {
  0%{
    opacity: 0;
    height: 0%;
  }
  100%{
    opacity:1 ;
    height: 100%;
  }
}

.clg-logo{
  width: 60px;
  height: 60px;
  border-radius: 50%; position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  top: 10%;
  border: 3px solid rgb(255, 255, 255);
  
  animation: popuplogos  linear ;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
  
}
.cmr{
  top: 1%;
}
.gioe{
  top: 40%;
}
.orbit{
  top: 72%;
}

@keyframes popuplogos {
  0%{
    transform:translateX(0px);
  }
  100%{
    transform:translateX(-30px);
  }
}

.edu{
  width: 360px;
  border: 0.5px solid rgb(54, 54, 54);
  position: absolute;
  animation: lefttoright linear ;
}

.edu::after{
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  top: 9.3%;
  left:100% ;
  z-index: 1;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid rgba(63, 82, 114, 0.83);
  /* border-right: 22px solid white; */
  /* left:-25px; */
  /* background-color: rgba(32, 46, 71, 0.83); */
  /* border:2px solid rgba(63, 82, 114, 0.83); */
  box-shadow: 0px 0px 33px 0px rgba(98,0,255,0.5);
}
.lefttoright {
  left: 50%;
  transform: translateX(-117%);
  animation: lefttoright linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

@keyframes lefttoright {
  0%{
    transform: translateX(-177%) ;
    /* transform: scale(0);  */
    /* transform: translateX(10px); */
  }
  100%{
    /* transform: scale(1); */
    transform: translateX(-120%);
  }
}
.textstyle{
  font-size: 15px;
  color: #8d8d8d;
}

.edu:last-child{
  top: 71%;
  /* background-color: red; */
}

.righttoleft::after{
  transform: rotate(180deg);
  left: -3%;
}


.righttoleft{
  top: 38%;
  left: 53%;
  transform: translateX(4%);
  animation: righttoleft linear  ;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}
@keyframes righttoleft {
  0%{
    transform: translateX(40%) ;
    /* transform: scale(0);  */
    /* transform: translateX(10px); */
  }
  100%{
    /* transform: scale(1); */
    transform: translateX(0%);
  }
}

@media (max-width: 900px){
  .edu-line::after{
    left: 5%;
  }
  .gioe{
    top: 42%;
  }
  .clg-logo{
    left: 5%;
  }
  .edu::after{
    left: -10px;
    transform: rotate(180deg);
  }
  .lefttoright{
    
    animation:none;
  }
  .edu-cmr{
    left:55%;
    width: 300px;
    top: 2%;
  }
  .edu-line{
    width: 800px;
  }
  .cmr{
    top:4%;
  }

  .edu-gioe{
    width: 300px;
  }
  .righttoleft{
    left:8%; 
    animation: none;
    top: 40%;
  }
  
  .edu-orbit{
    /* height:" 210px; */
    top: 100%;
    width: 300px;
    left: 53%;
  }
  
  
}

@keyframes popuplogoss {
  0%{
    left: 10%;
  }
  100%{left: 0%;
  }
}
@keyframes lefttorightafter {
  0%{
    left: 650px;
    /* transform: scale(0);  */
    /* transform: translateX(10px); */
  }
  100%{
    /* transform: scale(1); */
    left: 460px;
  }
}
.dm{
  font-size: 30px;
}
.dmdiv{
  width: 30px ;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  transition: all .5s;
  box-shadow: 0px 0px 33px 0px rgba(98,0,255,0.26);
}

.dmdiv:hover{
  transform: translateY(-5px);
}


.instagram{ 
  /* font-size: 10px; */
  background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 ); */
  }
  
  .input{
    width: 95%;
    height: 43px;
    border-radius: 10px;
    background-color: transparent;
    padding: 10px;
border: 1px solid rgba(255, 255, 255, 0.4);
  }
  .inputdiv{
    /* From https://css.glass */
/* From https://css.glass */
/* background: rgba(255, 255, 255, 0.31);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.9px);
-webkit-backdrop-filter: blur(7.9px);
 */
 border: 1px solid rgba(255, 255, 255, 0.4);
  }

.message{
  height: 100px;
}

.background{
  background-image: url("https://res.cloudinary.com/dqnmzdsoy/image/upload/v1750446491/lelh6pg5r2clf56tawhz.png");
  background-repeat: no-repeat;
  background-size:contain;

}